.grudu-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
  color: #727374;
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid #727374;
}