.header {
  background-color: #CBCCD6;
  border-bottom: 1px solid #e1e8ed;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  flex: 1;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header__username {
  font-size: 16px;
  font-weight: 500;
  color: #14171a;
}