.grudu-textarea textarea {
  width: 100%;
  padding: 8px 22px;
  color: #727374;
  font-size: 28px;
  border: 2px solid #42434B;
  border-radius: 8px;
  box-sizing: border-box;
  min-height: 120px;
}

.grudu-textarea--invalid textarea {
  border-color: #dc3545;
}

.grudu-textarea__error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
}